.app-container {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.main-content {
    display: grid;
    grid-template-columns: 1fr 2fr; /* Sidebar 1/3, Calendar 2/3 */
    gap: 20px;
}

/* smaller details */

.title {
    font-family: Papyrus, fantasy;
    text-shadow: 0.5px 0 0, -0.5px 0 0, 0 0.5px 0, 0 -0.5px 0;
    color: #A2CDFF;
    
}

.sub-title {
    color: #A2CDFF; 
}

.Prev {
    color: #A2CDFF;
    background-color: #13117D;
    transition: background-color 0.3s ease;
}

.Prev:hover {
background-color: #0056b3;
}

/* Sidebar Styling */
.booking-sidebar {
    color: #A2CDFF;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    background: rgb(19, 17, 125,);
	background: radial-gradient(
		circle,
		rgba(19, 17, 125, 1) 0%,
		rgba(25, 100, 196, 1) 100%
    );
}

.booking-sidebar h3 {
    margin-bottom: 15px;
}

.b-list {
    list-style: none;
    padding: 0;
    margin: 0;
    background: #A2CDFF;
    border-radius: 5px;

}

.b-Litem {
    color: #0A2A52;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    background: #A2CDFF;
 
}

.rm-b-btn {
    margin-top: 5px;
    padding: 5px 10px;
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.rm-b-btn:hover {
    background-color: #b02a37;
}

/* Calendar Styling */
.calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
}

.calendar-header, .calendar-day {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: 1px solid #0A2A52;
    color: #A2CDFF;
    /* background: #206FE0; */
    border-radius: 4px;
    background: rgb(25, 100, 196);
	background: radial-gradient(
		circle,
		rgba(25, 100, 196, 1) 0%,
		rgba(19, 17, 125, 1) 100%
    );
}

.calendar-header {
    font-weight: bold;
    
}

.calendar-day {
    display: flex;
    flex-direction: column; /* Arrange elements vertically */
    align-items: center;
    justify-content: flex-start; /* Align items at the top */
    padding: 10px;
    background-color:  rgb(25, 100, 196);
    border: 1px solid #0A2A52;
    cursor: pointer;
    border-radius: 4px;
    position: relative; /* Allow absolute positioning for children */
}



.calendar-day .day-number {
    position: absolute;
    top: 10px; /* Position it near the top */
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    width: 100%; /* Center align horizontally */
}

.day-separator {
    margin: 10px 0; /* Space below the day number */
    border: none;
    border-top: 2px solid #0A2A52;
    width: 80%;
}

.calendar-day.has-bookings {
    background: #206FE0;
}