#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

body {
  /* font-family: "Poppins", serif; */
	background: rgb(25, 100, 196);
	background: radial-gradient(
		circle,
		rgba(25, 100, 196, 1) 0%,
		rgba(13, 55, 107, 1) 100%
    );
}
/* 148, 187, 233 */